.footer {
  background-color: #f1f1f1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
  color: rgb(145, 143, 143);
  
}

.footer-section p {
  margin-bottom: 5px;
}

.footer-section a {
  color: inherit;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}
.popular{
  background-color: #f1f1f1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popular p{
  margin-top: 20px;
}

.popular a{
  color: blue;
}
.copyright{
  width: 100%;
  /* border: 2px solid chocolate; */
  display: flex;
  justify-content: space-evenly;
}